@media(max-width: 690px) {
    .cabecalho{
        flex-direction: column;
    }

    .cabecalho .logo .nome {
        font-size: 40px;
    }

    .navegacao .menu {
        flex-direction: column;
        font-size: 40px;
        margin-top: 50px;
    }

    .menu li {
        margin: 25px;
    }

    .menu li a {
        padding: 17px 40px;
    }

    .menu li a.btn {
        font-size: 18px;
        padding: 15px 25px;
    }

    
}